{% extends 'base.html' %}
{% block title %}Input Builder{% endblock %}  
{% block content %}
    <div class="container">
        <h1>Select Computational Software</h1>
        <p>Choose the software you would like to use:</p>
        <a href="/forms?type=gamess" class="button gamess">GAMESS</a>
        <a href="/forms?type=psi4" class="button psi4">Psi4</a>
    </div>
    <div class="container2">
        <h1>Upload a File</h1>
        <p>Choose the software you would like to use:</p>
        <!-- <a href="/forms?type=fgamess" class="file button gamess">GAMESS</a> -->
        <a href="/forms?type=fpsi4" class="file button psi4">Psi4</a>
    </div>
{% endblock %}