{% extends 'base.html' %}
{% block title %}Upload for {{ naam }}{% endblock %}  
{% block content %}
    {% if mode == 'input' %}
        <div class="container2">
            <h1>Upload a File to Generate Output for PSI4</h1>
            <form action="/file" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="file">Upload Your File:</label>
                    <input type="file" id="file" name="file" required>
                </div>
                <div class="form-group">
                    <label>Select Software:</label>                    
                        <div class="radio-group">
                            <input type="radio" name="software" value="PSI4" checked>
                            <label>PSI4</label>
                        </div>                    
                </div>
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
    {% endif %}
{% endblock %}
