{% extends 'base.html' %}
{% block title %}Input Builder{% endblock %}  
{% block content %}
    <h1>Input File Generator for {{ naam }}</h1>
    <form action="/process_{{ naam }}" method="post" enctype="multipart/form-data">
        <label for="scftyp">SCFTYP:</label>
        <select name="scftyp" id="scftyp" required>
            <option value="RHF">RHF</option>
            <option value="UHF">UHF</option>
            <option value="ROHF">ROHF</option>
        </select>
        <br><br>

        <label for="mult">Multiplicity:</label>
        <input type="number" id="mult" name="mult" value="1" min="1" required>
        <br><br>

        <label for="charge">Charge:</label>
        <input type="number" id="charge" name="charge" value="0" required>
        <br><br>

        <label for="basis">Basis Set:</label>
        <select name="basis" id="basis" required>
            {% for i in typbasis %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
        <br><br>

        <label for="type">Calculation Type:</label>
        <select name="type" id="type" required>
            <option value="ENERGY">ENERGY</option>
            <option value="OPTIMIZE">OPTIMIZE</option>
            <option value="FREQ">FREQ</option>
        </select>
        <br><br>

        <label for="addon">Additional Options:</label>
        <select name="addon" id="addon">
            <option value="NONE">NONE</option>
            <option value="IR">IR</option>
        </select>
        <br><br>

        <label for="dfttyp">DFTTYP:</label>
        <select name="dfttyp" id="dfttyp">
            <option value="NONE">NONE</option>
            <option value="B3LYP">B3LYP</option>
            <option value="PBE0">PBE0</option>
            <option value="M062X">M062X</option>
        </select>
        <br><br>
        <label for="file">Upload XYZ File:</label>
        <input type="file" id="file" name="file" accept=".xyz" required>
        <br><br>

        <button type="submit">Generate Input File</button>
        <br><br>
    </form>
{% endblock %}